.footer{

    background:var(--primary);

    color:white;

    padding:70px 0 25px;

}

.footer-logo{

    width:180px;

    margin-bottom:20px;

}

.footer h5{

    color:var(--secondary);

    margin-bottom:20px;

}

.footer ul{

    list-style:none;

    padding:0;

}

.footer li{

    margin-bottom:12px;

    cursor:pointer;

    transition:var(--transition);

}

.footer li:hover{

    color:var(--secondary);

}

.footer p{

    margin-bottom:15px;

}

.footer svg{

    color:var(--secondary);

    margin-right:10px;

}

.copyright{

    text-align:center;

    padding-top:20px;

    color:#bbb;

}